.jumbotron {
    margin-bottom: 0px;
    height: 250px;
    color: white;
    text-shadow: black 0.2em 0.2em 0.2em;
    background:transparent;
  }


container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 3em;
}

h3{
    text-align: center;
    font-size: 1em;
}
.card-header{
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
}

.col-3{
    border: 1px solid blue;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
}

