container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: center;
}
p, h1, h3{
    text-align: center;
}

.card-header{
    text-align: center;
    padding: 0px;
}

.col-3{
    border: 1px solid red;
    padding: 5px;
}
